.container {
  margin: 0 auto;
  align-items: center;
  margin-top: 5%;
}

.logo-container {
  position: relative;
  max-height: 92px;
  height: 100%;
  .flex-c();
}

.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

#images {
  color: @accent-color;
  position: absolute;
  bottom: 0;
  right: 28%;
  white-space: nowrap;
}
