.container {
  margin: 0 auto;
  align-items: center;
  margin-top: 5%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo-container {
  position: relative;
  max-height: 92px;
  height: 100%;
  .flex-c();
}

.logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

.images-span {
  color: @accent-color;
  position: absolute;
  bottom: 0;
  right: 3%;
  white-space: nowrap;
}

.border {
  .border(0.25px; solid; #ebebeb);
}

.decor {
  display: none;

  @media (min-width: 720px) {
    display: block;
  }
}

/* Advanced Search */
.inst {
  display: none;
}
@media (min-width: 920px) {
  .inst {
    display: block;
    color: #555;
    font-size: 11px;

    &.title {
      font-size: 14px;
      font-weight: 700;
      color: #777;
    }
  }

  .inst > span {
    color: #666;
    font-family: monospace;
  }
}

.advanced-search {
  &-conteiner {
    max-width: 1140px;
    min-width: 200px;
    margin: 40px 2% 0 45px;
    margin-bottom: 30px;

    @media (max-width: 920px) {
      margin: 40px 10px;
    }
  }

  &-googlelogo img {
    height: 24px;
    width: 74px;
  }

  &-label {
    color: #d93025;
    font-size: 20px;
    margin: 25px 40px;

    @media (max-width: 920px) {
      margin: 40px 10px;
    }
  }

  &-top {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-bottom: 20px;
  }

  &-inner {
    display: grid;
    grid-row-gap: 10px;
    grid-column-gap: 12px;
    align-items: center;

    @media (min-width: 920px) {
      grid-template-columns: 1fr 2fr 2fr;
    }
  }
}
