doctype html
html(lang="en")
  include includes/head
    title Advanced Search
  body
    header.header
      nav.nav.images
        ul.nav-inner
          li
            a(href="index.html") Google Search
          li
            a.avatar-placeholder(href="#")
              img(src="./images/favicon.ico", alt="avatar-placeholder")

    // No links, this footer is only decoration inspired of original Google Advanced Search page 
    footer.footer 
      nav.nav
        ul.nav-inner
          li
            a(href="") Terms
          li
            a(href="") Privacy
          li
            a(href="") Help