.footer {
  background: @footer-bg;
  padding: 0 20px;
  color: @footer-link;
  text-align: center;

  @media (min-width: 920px) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.footer-img {
  width: 12px;
  height: 12px;
}

.footer.advanced-search {
  .border(0.25px; solid; #d9d9d9);
}
