/* Main Google form */

.form-container {
  width: 640px;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
  position: relative;
}
.form {
  .border(1px; solid; #dfe1e5);
  display: flex;
  z-index: 3;
  height: 44px;
  background: transparent;
  background: #fff;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  // width: auto;
  max-width: 584px;
  padding-left: 35px;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
      border-color: rgba(223, 225, 229, 0);
    }
  }
}
.search-icon {
  position: absolute;
  top: 20px;
  left: 10px;
  opacity: 0.4;
}

/* Advanced Search Form */
.advanced-search-form {
  &__title {
    font-size: 16px;
  }
}
